[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	chp = cherry-pick
	l = pull
	p = push
	refresh-head = remote set-head origin -a
	default-branch = !git symbolic-ref refs/remotes/origin/HEAD --short | sed -e \"s|^origin/||\"
[diff]
    colorMoved = default
	algorithm = patience
[pull]
	rebase = true
[push]
    autoSetupRemote = true
    signed = if-asked
[commit]
    gpgSign = true
[init]
	defaultBranch = main
[rerere]
    enabled = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com/
[user]
	name = johnybx
	email = johnybx@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore
