/* 
GTK_DEBUG=interactive guake
https://docs.gtk.org/gtk3/css-properties.html
https://docs.gtk.org/gtk3/class.Notebook.html 
*/

#guake-terminal notebook header {
  background-color: rgba(47, 52, 63, 0.9);
  padding: 2px 10px 2px 10px;
}

#guake-terminal notebook header tabs {
  padding: 1px 0px 1px 0px;
}

#guake-terminal notebook tab:checked {
  border-top-style: solid;
  border-top-width: 1px;
}

#guake-terminal notebook header box button,
#guake-terminal notebook header box button:hover,
#guake-terminal notebook header box button:hover:backdrop,
#guake-terminal notebook header box {
  opacity: 0.85;
}
